<div class="containerX">
  <div fxLayout="row" >
  

  <!--<div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">-->
    <div fxFlex="50" fxFlexOffset="25" style="text-align: center; margin-top:25px; margin-bottom: 25px">
      <!--LOGO WILL GO THERE-->
      <img src="assets/queue-logo.svg" alt="logo">
    </div>
  </div>
<div fxLayout="row" >
  

  <!--<div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">-->
    <div fxFlex="40" fxFlexOffset="30">
    <md-input-container style="width:100%;">
      <input mdInput #childId maxlength="10" placeholder="Enter Child Personal ID" value="" style="text-align:center; color:#fff;">
      <md-hint align="end" style="color:#fff;">{{childId.value.length}} / 10</md-hint>
    </md-input-container>
    <div class="button-row" style="text-align: center; margin-bottom: 25px;">
   
    <button md-raised-button (click)="onIdSubmit(childId.value)">Check the chances!</button>
  
  </div>

  <!--<div *ngIf="loading">
  <md-progress-bar  mode="indeterminate"></md-progress-bar>
  <p>Loading ... </p>
  </div>-->

  <div *ngIf="dataArrived">

  <div *ngFor="let chance of chances">

<md-card style="margin-bottom: 20px;">
  <md-card-title>{{chance.garden}}</md-card-title>

  <md-progress-bar
          
          color="#CCCCCC"
          mode="determinate"
          [value]="getVisualPercent(chance.realPlace, chance.realQueueLength, chance.relative)"
          >
      </md-progress-bar>
 <p>
   Your chance is <strong> {{getChanceText(chance.relative, chance.realQueueLength)}} </strong>
 </p>
 <!--<small>
 <p>Position assigned: {{chance.place}} </p>
<p>Projected position after draft: {{chance.relative}} </p>
 </small>-->

 
 
</md-card>

  </div>
  </div>

  

  </div>
</div>
</div>
